body {
    text-align: center;
}


#no1 {
    font-size: 30px;
    color: aqua;
    margin-right: 9px;
}

#no2 {
    font-size: 30px;
    color: aqua;
}

button {
    color: bisque;
    font-size: 20px;
    margin-top: 40px;
}